body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;

}
  
.nav-name {
    color: blue;
}
.navbar-nav {
    display: flex;
    justify-content: right;
    min-width: 300px;
    list-style: none;
  }
  
.navbar-nav a {
    display: flex;
    justify-content: flex-end;
    padding:5px;
    margin:10px;
    text-decoration: none;
}
